:root {
    --font-color: #eee;
    --background: rgba(1, 1, 1, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
    height: 100%;
}

html {
    background: url('images/background.jpg') no-repeat center center fixed;
    background-size: cover;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--font-color);
    padding: 0;
    margin: 0;
}

/* CONTENT */
#content {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    background-color: var(--background);
    padding: 1rem 0;
}

.title {
    font-size: 3.3rem;
}

.navBtn {
    font-size: 1.3rem;
    color: var(--font-color);
    background: none;

    padding: 1.5rem;

    border: none;
    border-bottom: 2px solid transparent;

    transition: 0.25s transform ease-in-out;
}

.navBtn:hover, .navBtn:focus {
    transform: translateY(-10%);
    border-bottom: 2px solid var(--font-color);
}

.main {
    flex-grow: 1;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
    background: var(--background);
    width: 700px;
}

.home {
    padding: 2rem;
}

.home p {
    padding: 1rem;
    font-size: 1.4rem;
}

.footer {
    text-align: center;
    width: 100%;
    padding: 1rem 0;
    background-color: var(--background);
}